{% extends "account/base.html" %}
{% load static %}

{% block content %}
    <div class="login_main">
    <div class="container">
        <div class="searcher">
            <input class="my_searcher" type="text">
            <i class="material-icons search_icon">search</i>
        </div>

        <br>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="my_card">
                    <div class="my_card_header">
                        <img class="my_card_img" src="{% static 'logo2.png' %}" width="100px" alt="">
                        <p class="my_card_balls">180</p>
                    </div>
                    <div class="my_card_city">Новый Уренгой</div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="my_card">
                    <div class="my_card_header">
                        <img class="my_card_img" src="{% static 'logo2.png' %}" width="100px" alt="">
                        <p class="my_card_balls">180</p>
                    </div>
                    <div class="my_card_city">Ноябрьск</div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="my_card">
                    <div class="my_card_header">
                        <img class="my_card_img" src="{% static 'logo2.png' %}" width="100px" alt="">
                        <p class="my_card_balls">180</p>
                    </div>
                    <div class="my_card_city">Вичуга</div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="my_card">
                    <div class="my_card_header">
                        <img class="my_card_img" src="{% static 'logo2.png' %}" width="100px" alt="">
                        <p class="my_card_balls">180</p>
                    </div>
                    <div class="my_card_city">Салехард</div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="my_card">
                    <div class="my_card_header">
                        <img class="my_card_img" src="{% static 'logo2.png' %}" width="100px" alt="">
                        <p class="my_card_balls">180</p>
                    </div>
                    <div class="my_card_city">Надым</div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="my_card">
                    <div class="my_card_header">
                        <img class="my_card_img" src="{% static 'logo2.png' %}" width="100px" alt="">
                        <p class="my_card_balls">180</p>
                    </div>
                    <div class="my_card_city">Харп</div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}